.root {
  color: rgb(var(--white));
  --shippo-bg-color: var(--black);
  background-color: rgb(var(--shippo-bg-color));
  background-image: var(--shippo-pattern-img);
  background-size: var(--shippo-pattern-size);
  margin-top: auto;
}

.shareIcons {
  text-align: center;
}

.notice {
  display: inline-flex;
  align-items: center;
  margin: 0.7em;
}

.notice:hover,
.notice:focus {
  opacity: 0.6;
}

.copyright {
  text-align: center;
}
