@import "@/styles/_index";

.root {
  background: linear-gradient(rgba(var(--black), 0.4), rgba(var(--black), 0.4)), url("/hero.webp");
  background-size: cover;
  background-position: center center;
  color: rgb(var(--white));
  padding: 5rem 1.5rem;

  @include mq(tp) {
    padding: 6rem 10%;
    text-align: center;
  }
}

.top {
  position: relative;
  display: grid;
  place-content: center;

  @include mq(s) {
    aspect-ratio: 1 / 1;
  }

  @include mq(tp) {
    height: 75dvh;
  }
}

.tagline {
  @include mq(s) {
    font-size: 9.3vw;
  }

  @include mq(t) {
    font-size: 6.1vw;
  }

  @include mq(p) {
    font-size: 4.6vw;
  }
}

.scrollArrow {
  display: inline-block;
  position: absolute;
  bottom: 0;
  padding: 1rem 1rem 7rem;
  font-size: 0.7rem;
  line-height: 1;
  letter-spacing: 0.2rem;
  writing-mode: vertical-lr;
  right: 1.5rem;

  @include mq(tp) {
    right: 10%;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1px;
    height: 7rem;
    background: rgb(var(--white));
    animation: sdl 1.5s cubic-bezier(1, 0, 0, 1) infinite;
  }
}

@keyframes sdl {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }

  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }

  50.1% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }

  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}
